<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="calculator.js" defer></script>
</head>

<body>
  <div id="app">
    {{ message }}
    <div>
      1st number: <input type="number" v-model="num1">
    </div>
    <div>
      2nd number: <input type="number" v-model="num2">
    </div>
    <div>
      3rd number: <input type="number" v-model="num3">
    </div>
    <p>The sum is: {{ num1 + num2 + num3 }}</p>
    <p>The product is: {{ num1 * num2 * num3 }}</p>
    <hr>
    <ol>
      <li v-for="fruit in fruits">{{ fruit }}</li>
    </ol>
    <input type="text" v-model="newFruit">
    <button @click="addFruit">add fruit</button>
    <hr>

  </div>
</body>

</html>